header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #263940;

}

header :nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

header :nth-child(2) {
  display: flex; /* Pour utiliser align-items et justify-content */
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
}

header :nth-child(2) img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}






